[Desktop Entry]
Categories=Chat;Network;
Comment=Enterprise communication and collaboration client
Comment[zh_CN]=企业协同办公与即时通讯客户端
Exec=dingtalk %u
GenericName=DingTalk
Icon=dingtalk
Keywords=dingtalk;
MimeType=x-scheme-handler/dingtalk;
Name=DingTalk
Name[zh_CN]=钉钉
Type=Application
X-Deepin-Vendor=user-custom
