[Desktop Entry]
Comment=WeChat
Comment[zh_CN]=微信
TryExec=wechat
Exec=wechat %u
Icon=wechat
Name=WeChat
Name[zh_CN]=微信
Categories=Network;InstantMessaging;Chat;
Terminal=false
Type=Application
Keywords=wechat;weixin;we;w;
Keywords[zh_CN]=微;微信;wechat;weixin;we;
StartupWMClass=wechat
X-GNOME-SingleWindow=true
SingleMainWindow=true
Actions=quit;

[Desktop Action quit]
Name=Quit WeChat
Name[zh_CN]=退出
Exec=bash -c '/usr/bin/killall wechat'
Icon=application-exit
